<h1>Editing Template Section: Study Arms (Interventions)</h1>

<%= render "map" %>

Placeholder Page for Now


<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "publication_info" %></td><td align="right">
<%= link_to "Continue", "design_details" %>
</td></tr></table>