<h1>Add Design Detail Template Fields</h1>
<div id="design_detail_fields_table"><%= render 'design_detail_fields/table' %></div>
<div id="design_detail_fields_entry">
<%= render 'design_detail_fields/form' %>
</div>



<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "edit" %></td><td align="right">
<%= link_to "Continue", "baseline_characteristics" %>
</td></tr></table>