<h2>Editing "<%= @template.title %>"</h2>

<div class="template_map">

	<div class="template_cell">
		<div class="template_cell_number">
			1
		</div>
		Key Questions
	</div>

	<div class="template_cell">
		<div class="template_cell_number">
			2
		</div>
		Publications
	</div>

	<div class="template_cell">
		<div class="template_cell_number">
			3
		</div>
		Arms
	</div>	
	
</div>
