<h1>Add Outcome Data Template Fields</h1>
<div id="outcome_data_fields_table"><%= render 'outcome_columns/table' %></div>
<div id="outcome_data_fields_entry">
<%= render 'outcome_columns/template_form' %>
</div>
<br/><br/>
<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "quality_dimensions" %></td><td align="right">
<%= link_to "Continue", "outcome_comparisons" %>
</td></tr></table>