<div class="template_creation_header">
<h1>Editing Template Section: Outcome Setup</h1>
</div>

<%= render "map" %>

Placeholder Page for Now


<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "baseline_characteristics" %></td><td align="right">
<%= link_to "Continue", "outcome_datatable" %>
</td></tr></table>