<h1>Add Quality Dimension Template Fields</h1>
<div id="quality_dimension_fields_table"><%= render 'quality_dimension_fields/table' %></div>
<div id="quality_dimension_fields_entry">
<%= render 'quality_dimension_fields/form' %>
</div>


<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "baseline_characteristics" %></td><td align="right">
<%# link_to "Continue", "quality_dimensions" %>
</td></tr></table>