<br/><% if !@quality_rating.nil? %>
<h5>Overall Rating of Study:</h5><%= @quality_rating.current_overall_rating %>
<br/>
<h5>Quality Guideline Used in Assessment:</h5> <%= @quality_rating.guideline_used %>
<% else %>
No quality rating assigned has been assigned to this study yet.
<% end %>