<% if !@quality_rating.nil? %>
<h4>Overall Rating of Study:</h4><%= @quality_rating.current_overall_rating %>
<br/>
<h4>Quality Guideline Used in Assessment:</h4> <%= @quality_rating.guideline_used %>
<% else %>
No quality rating assigned has been assigned to this study yet.
<% end %>