<% unless @saved_analyses.empty? %>
  <strong>You have saved analyses for the following conditions:</strong><br/><br/>
  <table width=95% border="1" class='saved_analyses_table'>
  	<tr>
  		<th>Outcome</th><th>Subgroup</th><th>Time Point</th>
  	</tr>
  	<% @saved_analyses.each do |a| %>
  	  <tr>
  	  	<td><%= a[0] %></td>
  	  	<td><%= a[1].gsub("_"," ") %></td>
  	  	<td><%= a[2].gsub("_"," ") %></td>
  	  </tr>
  	<% end %>
	</table>
<% end %>
