<table border="1" bordercolor="#000000" cellspacing="0" cellpadding="5">
<th>Outcome Title</th>
<th>Arm A</th>
<th>Arm B</th>
<th>N Analyzed</th>
<th>Estimation Parameter Type [Select]</th>
<th>Parameter Dispersion Type [Select]</th>
<th>P-Value</th>
<th>Edit</th>
<th>Remove</th>
<tr>
<td></td>


<td></td>


<td></td>
<td></td>
<td></td>
<td></td>
<td>Edit</td>
<td>Remove</td>
</tr>
</table>
<br/><br/>