<table border="1" bordercolor="#000000" cellspacing="0" cellpadding="5">
<th>Outcome Title</th>
<% if @study_arms.length > 0 %>
	<% i = 1 %>
	<% for one_arm in @study_arms %>
		<th>Arm <%= 1 %>: <%= one_arm.title %></th>
		<% i = i + 1 %>
	<% end %>
<% end %>
<th>N Analyzed</th>
<th>Estimation Parameter Type [Select]</th>
<th>Parameter Dispersion Type [Select]</th>
<th>P-Value</th>
<th>Edit</th>
<th>Remove</th>
<tr>
<td></td>
<% if @study_arms.length > 0 %>
<% for one_arm in @study_arms %>
<td></td>
<% end %>
<% end %>
<td></td>
<td></td>
<td></td>
<td></td>
<td>Edit</td>
<td>Remove</td>
</tr>
</table>
<br/><br/>