<% unless @arms.length < 1 %>
	<% i = 1 %>
    <% for onearm in @arms %>
	<h4><%= i %>) <%= onearm.title %>.</h4> <%=onearm.num_participants.nil? ? "" : onearm.num_participants.to_s + " participants" %>
	<br/>
	<%= onearm.description %> <br/><br/>
	<% i = i + 1 %>
		<% end %>
<% else %>
<em>There are no arms associated with this study. Please use the form below to add a new arm.</em>
<% end %>