<h1>Add Baseline Characteristic Template Fields</h1>
<div id="baseline_characteristic_fields_table"><%= render 'baseline_characteristic_fields/table' %></div>
<div id="baseline_characteristic_fields_entry">
<%= render 'baseline_characteristic_fields/form' %>
</div>



<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "edit" %></td><td align="right">
<%= link_to "Continue", "quality_dimensions" %>
</td></tr></table>