<h1>Create a New Study Template</h1>
<div id="baseline_characteristic_fields_table"><%= render 'baseline_characteristic_fields/table' %></div>
<div id="baseline_characteristic_fields_entry">
<%= render 'baseline_characteristic_fields/form' %>
</div>