<p id="notice"><%= notice %></p>

<p>
  <b>Design detail subcategory field:</b>
  <%= @design_detail_subcategory_data_point.design_detail_subcategory_field_id %>
</p>


<%= link_to 'Edit', edit_design_detail_subcategory_data_point_path(@design_detail_subcategory_data_point) %> |
<%= link_to 'Back', design_detail_subcategory_data_points_path %>
