body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
.hidden_select{
	visibility:hidden;
}
h1{
font-size: 22px;
font-weight: bold;
padding-bottom: 10px;
color: #3479BF;
}

h2{
margin: 10px;
font-size: 20px;
font-weight: bold;
}

h3{
	font-size: 16px;
	font-weight: bold;
	padding: 3px;
	margin: 0px;
}

h4{
	font-size: 14px;
	font-weight: bold;
	padding: 0px;
	margin: 3px;
	display: inline;
}

table
{
	border-collapse: collapse;
	/* border: 0px;*/
}

.indent_block{
	margin-left: 15px;
	width: 80%;
}

.summary_heading{
	width: 80%;
	background-color: #eee;
	border: 1px solid #000;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	padding: 3px;
}

.listing_item{
	width: 100%;
	background-color: #eee;
	border: 1px solid #000;
	color: #333;
	padding: 3px;
}

.listing_item h3{
padding: 8px;
}

.listing_item .admin_functions{
	width: 100%;
	text-align: right;
}

.listing_item .indent_block{
	width: 80%;
}

table#bottom_nav{
width: 80%;
}
td.calculated{
	background-color: #ffff99
}

.calculated_checkbox{
	display: inline;
}

.checkbox {
width: 19px;
height: 25px;
padding: 0 5px 0 0;
background: url(../images/checkbox.gif) no-repeat;
display: block;
clear: left;
float: left;
}

.icon_explanation{
border: 1px solid #ccc;
padding: 8px;
}

#validation_message, #key_questions_validation_message{
	font-weight: bold;
	color: #000;
	padding: 5px;
}
.success_message{
	color: #10783B;
	border: 1px solid #187A27;
	padding: 5px;
}
.error_message{
	/* background-color: #ED4548; */
	border: 1px solid #ED4548;
	color: #8F2224;
	padding: 5px;
}

.odd, .odd.td{
	background: #eee;
}

.even, .even.td{
    background:#dedede;
}

.odd td.calculated{
	background: #ffffcc;
	border-top: 1px dotted #cccc66;	
}

.even td.calculated{
	background: #ffff99;
	border-top: 1px dotted #cccc33;
}

.hidden{
  display:none;
}

.visible{
  display:inline;
}

.toggle_display_link{
	text-decoration: none;
	font-size: 20px;
	color: green;
}
.toggle_hide_link{
	text-decoration: none;
	font-size: 20px;
	color: red;
}


table.list_table{
width: 80%;
background:#D3E4E5;
border:1px solid gray;
color:#fff;
font:normal 12px verdana, arial, helvetica, sans-serif;
}

table.list_table td{
padding: 6px;
text-align: center;
color:#363636;
}

table.list_table tr{
border:1px dotted gray;

}

table.list_table tr:hover { 
 background:#ccffcc;
 border:1px solid #99cc99;
 #color:#000000;
}

table.non_centered_table td{
text-align: left;
#width: 60%;
}

table.list_table th{
background:#5C443A;
 padding:3px 10px 3px 10px;
}

table.list_table tr th:hover { 
 /*background:#ccffcc;*/
 /*border:1px dotted gray;*/
 /*color:#fff;*/
}

table.complex_header th{
border: 1px dotted gray;
padding: 4px;
}

table#bottom_nav{
width: 100%;
}

table.form_table{
}

.actions{
text-align: left;
}

#top-header{
	#position: absolute;
	#top: -7px;
	#left: -7px;
	margin-top: -8px;
	margin-left: -8px;
	padding-right: 8px;
	padding-left: 8px;
	width: 100%;
	background-color: #ccc;
	#height: 35px;
}
.login-link, .login-info{
	text-align:right;
	width: 100%;
	#height: 30px;
}

.title{
font-size: 20px;
font-weight: bold;
width: 100%;
padding-top: 8px;
}

#login-form{
width: 240px;
height: 100px;
background-color: #ccc;
padding: 10px;
float: right;
-moz-border-radius-bottomright: 20px;
border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 50px;
border-bottom-left-radius: 50px;
z-index: 100;
}

#login-form .form_table, #login-form .form_table td
{
font-size: 16px;
font-weight: bold;
font-family: Century Gothic, sans-serif;
color: #525252;
padding: 2px;
}

#login-form .form_table td.remember
{
font-size: 12px;
font-weight: bold;
}

#login-form .form_table td input
{
font-size: 14px;
border: 1px solid #aaa;
#border: 0px;
}

#login-form .form_table td input:focus, .searchbar input:focus
{
background: #D7F2F5;
color: #003333;
}

.breadcrumbs, .searchbar{
background: #eee;
	margin-left: -8px;
	margin-right: -8px;
	padding-right: 8px;
	padding-left: 8px;
}

.searchbar{
text-align: right;
}

.searchbar input
{
	font-size: 12px;
	border: 0px;
}

.searchbar input submit{
	background-color: #333;
}
.searchbar input:focus
{
background: #D7F2F5;
color: #003333;
}