<p>Welcome to the Systematic Review Data Repository.</p>

<h3>Administrator Privileges</h3>
<ul>
<li><%= link_to "View All Systematic Reviews",  projects_path %></li>
<li><%= link_to "View My Systematic Reviews",  projects_path %></li>
<li><%= link_to "Create New Systematic Review",  new_project_path %></li>
<li>Manage Group Members</li>
</ul>
<br/>
<h3>User Privileges</h3>
<ul>
<li><%= link_to "View My Systematic Reviews",  projects_path %></li>
</ul>