<p>Welcome to the Systematic Review Data Repository.</p>
<ul>
<li><%= link_to "View All Systematic Reviews",  projects_path %></li>
<li><%= link_to "Create New Systematic Review",  new_project_path %></li>
</ul>



