<h2>Study Adverse Events</h2>

<%= render 'adverse_events/table' %>


<h3>Add New Adverse Event</h3>

<%= render 'adverse_events/form' %>

<br/>
<table border="0" width="60%"><tr><td align="left"></td><td align="right">
<%= link_to "Continue", "quality" %>
</td></tr></table>