<h2>Study Adverse Events</h2>
<div id="adverse_events_table">
<%= render 'adverse_events/table' %>
</div>

<br/>
<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "outcomeanalysis" %></td><td align="right">
<%= link_to "Continue", "quality" %>
</td></tr></table>