<h2>Study Adverse Events</h2>
<div id="adverse_events_table">
<%= render 'adverse_events/table' %>
</div>

<h3>Add New Adverse Event</h3>
<div id="adverse_event_entry">
<%= render 'adverse_events/form' %>
</div>

<br/>
<table border="0" width="60%"><tr><td align="left"><%= link_to "Back", "outcomeanalysis" %></td><td align="right">
<%= link_to "Continue", "quality" %>
</td></tr></table>