<h2>Population Characteristics</h2>

<%= render 'population_characteristics/table' %>
<br/><br/>

<h3>Add New Population Characteristic</h3>

<%= render 'population_characteristics/form' %>

<br/>
<table border="0" width="60%"><tr><td align="left"><%= link_to "Back", "design" %></td><td align="right">
<%= link_to "Continue", "outcomesetup" %>
</td></tr></table>