<h2>Population Characteristics</h2>
<div id="population_characteristics_table">
<%= render 'population_characteristics/table' %>
</div>

<h3>Add New Population Characteristic</h3>
<div id="population_characteristic_validation_message"></div>
<div id="population_characteristic_entry">
<%= render 'population_characteristics/form' %>
</div>
<br/>
<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "design" %></td><td align="right">
<%= link_to "Continue", "outcomesetup" %>
</td></tr></table>