<h2>Baseline Study Characteristics</h2>
<div id="population_characteristics_table">
<%= render 'baseline_characteristic_data_points/table' %>
</div>

<h3>Add Baseline Study Characteristic</h3>
<div id="population_characteristic_validation_message"></div>
<div id="population_characteristic_entry">
<%= render 'baseline_characteristic_fields/custom_field_form' %>
</div>
<br/>
<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "design" %></td><td align="right">
<%= link_to "Continue", "outcomesetup" %>
</td></tr></table>