<h2>Study Design</h2>
<%= render 'form' %>
<br/><br/>
<hr width="80%" size="1" align="center"><br/>

<h3>Study Arms</h3>
<%= render 'arms/table' %>

<h3>Add New Arm to Study</h3>
<%= render 'arms/form' %>

<br/>
<table border="0" width="60%"><tr><td align="left"></td><td align="right">
<%= link_to "Continue", "attributes" %>
</td></tr></table>