<div class="study_creation_header">
<h2>Editing Study "<%=@study_title %>"</h2>
 </div>
 <br/>
 <div class="indent_block">
Choose a section to enter study information.
</div>
<br/>
<div class="template_map">

	<div class="template_cell" onclick="location.href='keyquestions';" style="cursor:pointer;">
		<div class="template_cell_number">
			1
		</div>
		Key Questions
	</div>

	<div class="template_cell" onclick="location.href='publicationinfo';" style="cursor:pointer;">
		<div class="template_cell_number">
			2
		</div>
		Publications
	</div>

	<div class="template_cell" onclick="location.href='design';" style="cursor:pointer;">
		<div class="template_cell_number">
			3
		</div>
		Arms
	</div>	

	<div class="template_cell" onclick="location.href='enrollment';" style="cursor:pointer;">
		<div class="template_cell_number">
			4
		</div>
		Design Details and Enrollment Information
	</div>
	
	<div class="template_cell" onclick="location.href='attributes';" style="cursor:pointer;">
		<div class="template_cell_number">
			5
		</div>
		Baseline Characteristics
	</div>

	<div class="template_cell" onclick="location.href='outcomesetup';" style="cursor:pointer;">
		<div class="template_cell_number">
			6
		</div>
		Outcome Setup
	</div>
	
	<div class="template_cell" onclick="location.href='outcomedata';" style="cursor:pointer;">
		<div class="template_cell_number">
			7
		</div>
		Outcome Raw Data
	</div>
	
	<div class="template_cell" onclick="location.href='outcomeanalysis';" style="cursor:pointer;">
		<div class="template_cell_number">
			8
		</div>
		Outcome Comparison Data
	</div>	
	
	<div class="template_cell" onclick="location.href='adverseevents';" style="cursor:pointer;">
		<div class="template_cell_number">
			9
		</div>
		Adverse Events
	</div>	
	
	<div class="template_cell" onclick="location.href='quality';" style="cursor:pointer;">
		<div class="template_cell_number">
			10
		</div>
		Study Quality
	</div>	
	
		<div class="template_cell" onclick="location.href='.';" style="cursor:pointer;">
		<div class="template_cell_number">
			11
		</div>
		Study Preview
	</div>	
	
	