<h2>Study Outcome Setup</h2>
<div id="outcomes_table">
<%= render 'outcomes/table' %>
</div>

<h3>Add New Outcome</h3>
<div id="new_outcome_entry">
<%= render 'outcomes/form' %>
</div>

<br/>
<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "attributes" %></td><td align="right">
<%= link_to "Continue", "outcomedata" %>
</td></tr></table>