<h2>Study Outcome Results Tables</h2>

<%= render 'outcome_results/table' %>



<table border="0" width="60%"><tr><td align="left"><%= link_to "Back", "outcomesetup" %></td><td align="right">
<%= link_to "Continue", "outcomeanalysis" %>
</td></tr></table>