<h2>Study Outcome Analysis</h2>

<%= render 'outcome_analyses/table_cont' %>

<%= render 'outcome_analyses/table_cat' %>


<br/>
<table border="0" width="60%"><tr><td align="left"><%= link_to "Back", "outcomedata" %></td><td align="right">
<%= link_to "Continue", "adverseevents" %>
</td></tr></table>