<h2>New Project</h2>

<%= render 'newproj' %>

<table id="bottom_nav">
	<tr>
		<td align="left"><%= link_to "Back",'/projects/' %></td>
		<td align="right"><%= link_to 'Continue','/projects/'+session[:project_id].to_s+'/studies/' %></td>
	</tr>
</table>
<br/><br/>
