<h2>New Project</h2>
<div id="form_content">
<%= render 'newproj' %>
<%= render 'newproj_study' %>
<%= render 'newproj_studydesign' %>
</div>
<table border="0" width="60%"><tr><td align="left"></td><td align="right">
<a href="#">Continue</a>
</td></tr></table>
<br/><br/>
