<h2>New Project</h2>

<%= render 'newproj' %>

<table id="bottom_nav"><tr><td align="left"></td><td align="right">
<%= link_to "Continue", "../../projects/" + @project.id.to_s + "/studies" %>
</td></tr></table>
<br/><br/>
