<h2>New Project</h2>
<div id="form_content">
<%= render 'newproj' %>
</div>
<table border="0" width="60%"><tr><td align="left"></td><td align="right">
<%= link_to "Continue", project_studies_path(@project) %>
</td></tr></table>
<br/><br/>
