<h2>New Project</h2>
<div id="form_content">
<%= render 'newproj' %>
</div>
<table border="0" width="60%"><tr><td align="left"></td><td align="right">
<%= link_to "Continue", "../projects/" + @project.id.to_s + "/studies" %>
</td></tr></table>
<br/><br/>
