<h2>New Study: Basic Information</h2>

<h3>Key Questions Answered</h3>

<br/>
<hr width="80%" size="1" align="center"><br/>

<h3>Primary Publication Information</h3>
<%= render 'publications/form_primary' %>
<br/><br/>
<hr width="80%" size="1" align="center"><br/>


<h3>Secondary Publication Information</h3>
<%= render 'publications/table' %>
<b>Add new Arm to Study</b><br/><br/>
<%= render 'form' %>
<table border="0" width="60%"><tr><td align="left"></td><td align="right">
<%= link_to "Continue", "studydesign" %>
</td></tr></table>