
<h3>Inclusion Criteria</h3>
<div id="inc_criteria_table">
<%= render 'inclusion_criteria_items/table' %>
</div>
<div id="inc_criteria_validation_message"></div>
<div id="new_ic_entry">
<%= render 'inclusion_criteria_items/form' %>
</div>
<br/>

<h3>Exclusion Criteria</h3>
<div id="exc_criteria_table">
<%= render 'exclusion_criteria_items/table' %>
</div>
<div id="exc_criteria_validation_message"></div>
<div id="new_ec_entry">
<%= render 'exclusion_criteria_items/form' %>
</div>
<br/>
