<table border="1" bordercolor="#000000" cellspacing="0" cellpadding="5">
<th>Dimension</th>
<th>Value</th>
<th>Notes</th>
<th>Edit</th>
<th>Delete</th>
<% if @quality_aspects.length > 0 %>
<% for qa in @quality_aspects %>
<tr>
<td><%= qa.dimension %></td>
<td><%= qa.value %></td>
<td><%= qa.notes %></td>
<td>Edit</td>
<td>Delete</td>
</tr>
<% end %>
<% end %>
</table>
<br/><br/>