<h3>Manage Key Questions</h3>
<div id="key_question_table">
<%= render 'key_questions/table' %>
</div>
<br/><br/>
<div id="key_question_validation_message"></div>
<div id = "key_question_entry">
<%= render 'key_questions/new_kq_form'%>
</div>