This is an example of what users will see on the Key Questions selection page.<br/><br/>

<div class="form_content">

		<div class="field">
				<div class="label">Please choose the key questions that this study answers: </label><br/><br/>
			    <input type="checkbox" class="cbox" %> 
				1. Example Question 1<br/>

			    <input type="checkbox" class="cbox" %> 
				2. Example Question 2<br/>

			    <input type="checkbox" class="cbox" %> 
				3. Example Question 3<br/>

			    <input type="checkbox" class="cbox" %> 
				4. Example Question 4<br/>				
				
		</div>
		<br/>
		<div class="actions">
			<button type="submit" class="positive">
				<%= image_tag "Accept.png"%>Save Questions
			</button>
		</div>

</div>