<b>Select a Timepoint to Analyze</b><br/>
<% unless @outcome_timepoints.empty? %>
			
		  <% timepoints = "" %>
		  <% i = 0 %>
		  <% selected = "selected" %>
		  <% @outcome_timepoints.each do |tp| %>
		    <% unless i < 1 %>
		       <% selected = "" %>
		    <% end %>
		    <% timepoints = timepoints + "<option value=#{tp.id} #{selected}>#{tp.number} #{tp.time_unit}</option>" %>
		    <%i += 1%>
		  <% end %>
			
		  <select name=<%= @model_name + "[timepoint_id]" %> id=<%= @model_name + "_timepoint_id" %> >
		  	<%= render :inline=>timepoints %>
		  </select>
		<% else %>
		  <em>There are no time points defined for this outcome. If you require a time point, please edit the <%= link_to "Outcome Setup Page", "/projects/#{session[:project_id]}/studies/#{session[:study_id]}/outcomesetup" %></em>
		<% end %>		