
<div id="top-header">
<div class="title">
Systematic Review Data Repository
</div>
</div>


<div class="breadcrumbs">
<%= render :inline=> get_bread_crumbs(request.url,">") %>
<div class="searchbar">
<%= render "search/form" %>
</div>
</div>