<ul id="menu">
   <li class="title">Systematic Review Data Repository</li>
  <li><%= link_to "New Systematic Review", new_project_url, :class=>"menu" %></li>
  <li><%= link_to "Systematic Review Listing", projects_path, :class=>"menu" %></li>
</ul>
